$beatPickerCenterElement: calc(50% - rem(24px));
$beatPickerItemMargin: rem(96px);
$beatPickerAimSize: rem(48px);
$beatPickerAimOffset: rem(-1px);

.BeatPickers {

  @include center-between;

  width: rem(160px);
}

.BeatPicker {
  position: relative;

  &::before,
  &::after {
    content: " ";
    height: $beatPickerCenterElement;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &::before {
    background: linear-gradient(to bottom, $colorWhite 25%, transparent 100%);
  }

  &::after {
    background: linear-gradient(to top, $colorWhite 25%, transparent 100%);
    bottom: 0;
  }

  &__beats {
    font-size: rem(56px);
    font-weight: lighter;
    max-block-size: rem(240px);
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none; /* Chrome & Edge */
    }
  }

  &__item {

    @include centerY;
    
    height: rem(48px);
    scroll-snap-align: center;

    &:nth-of-type(1) {
      margin-top: $beatPickerItemMargin;
    }

    &:nth-last-child(2) {
      margin-bottom: $beatPickerItemMargin;
    }
  }

  &__dots {
    font-size: rem(48px);
  }

  &__aim {
    border: border($colorGray200);
    border-radius: $borderRadius;
    box-sizing: content-box;
    display: none;
    height: $beatPickerAimSize;
    left: $beatPickerCenterElement;
    position: absolute;
    top: $beatPickerCenterElement;
    width: $beatPickerAimSize;

    .-focus & {
      display: block;
    }

    &::before,
    &::after {
      background: $colorWhite;
      content: " ";
      height: rem(40px);
      position: absolute;
      top: rem(4px);
      width: rem(2px);
    }

    &::before {
      left: $beatPickerAimOffset;
    }

    &::after {
      right: $beatPickerAimOffset;
    }
  }
}
