.BeatPickers {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: rem(160px);
}

.BeatPicker {
  position: relative;

  &::before,
  &::after {
    content: " ";
    height: calc(50% - rem(24px));
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &::before {
    background: linear-gradient(to bottom, $colorWhite 25%, transparent 100%);
  }

  &::after {
    background: linear-gradient(to top, $colorWhite 25%, transparent 100%);
    bottom: 0;
  }

  &__beats {
    color: $colorBlack;
    font-size: rem(56px);
    font-weight: lighter;
    max-block-size: rem(240px);
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none; /* Chrome & Edge */
    }
  }

  &__item {
    align-items: center;
    display: flex;
    height: rem(48px);
    scroll-snap-align: center;

    &:nth-of-type(1) {
      margin-top: rem(96px);
    }

    &:nth-last-child(2) {
      margin-bottom: rem(96px);
    }
  }

  &__dots {
    font-size: rem(48px);
  }

  &__aim {
    border: rem(1px) solid $colorGray200;
    border-radius: rem(6px);
    box-sizing: content-box;
    display: none;
    height: rem(48px);
    left: calc(50% - rem(24px));
    position: absolute;
    top: calc(50% - rem(24px));
    width: rem(48px);
    z-index: -1;

    .-focus & {
      display: block;
    }

    &::before,
    &::after {
      background: $colorWhite;
      content: " ";
      height: rem(40px);
      position: absolute;
      top: rem(4px);
      width: rem(2px);
    }

    &::before {
      left: rem(-1px);
    }

    &::after {
      right: rem(-1px);
    }
  }
}
