.beatsPicker-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 10rem;
}

.beatPicker {
  // border: 1px solid;
  position: relative;
  width: fit-content;
  z-index: 1;

  &::before,
  &::after {
    content: " ";
    height: calc(50% - 1.5rem);
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &::before {
    background: linear-gradient(to bottom, #ffffff 25%, transparent 100%);
  }

  &::after {
    background: linear-gradient(to top, #ffffff 25%, transparent 100%);
    bottom: 0;
  }

  &__beats {
    color: #000;
    font-size: 3.5rem;
    font-weight: lighter;
    max-block-size: 15rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    align-items: center;
    display: flex;
    height: 3rem;
    // outline: 1px dashed red;
    scroll-snap-align: center;

    &:nth-of-type(1) {
      margin-top: 6rem;
    }

    &:nth-last-child(2) {
      margin-bottom: 6rem;
    }
  }

  span.beatPicker__item:last-of-type {
    background-color: blue;
  }

  .beatPicker__item:last-child(1) {
    background-color: blue;
  }

  &__dots {
    font-size: 3rem;
  }

  &__aim {
    border: 0.0625rem solid #d1d1d1;
    border-radius: 0.375rem;
    box-sizing: content-box;
    height: 3rem;
    left: calc(50% - 1.5rem);
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 3rem;
    z-index: -1;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      background: white;
      top: 0.25rem;
      height: 2.5rem;
      width: 0.0625rem;
    }

    &::before {
      left: -0.0625rem;
    }

    &::after {
      right: -0.0625rem;
    }
  }
}
