.BeatPickers {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 10rem;
}

.BeatPicker {
  position: relative;

  &::before,
  &::after {
    content: " ";
    height: calc(50% - 1.5rem);
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &::before {
    background: linear-gradient(to bottom, $colorWhite 25%, transparent 100%);
  }

  &::after {
    background: linear-gradient(to top, $colorWhite 25%, transparent 100%);
    bottom: 0;
  }

  &__beats {
    color: $colorBlack;
    font-size: 3.5rem;
    font-weight: lighter;
    max-block-size: 15rem;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none; /* Chrome & Edge */
    }
  }

  &__item {
    align-items: center;
    display: flex;
    height: 3rem;
    scroll-snap-align: center;

    &:nth-of-type(1) {
      margin-top: 6rem;
    }

    &:nth-last-child(2) {
      margin-bottom: 6rem;
    }
  }

  &__dots {
    font-size: 3rem;
  }

  &__aim {
    border: 0.0625rem solid $colorGray200;
    border-radius: 0.375rem;
    box-sizing: content-box;
    display: none;
    height: 3rem;
    left: calc(50% - 1.5rem);
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 3rem;
    z-index: -1;

    .-focus & {
      display: block;
    }

    &::before,
    &::after {
      background: $colorWhite;
      content: " ";
      height: 2.5rem;
      position: absolute;
      top: 0.25rem;
      width: 0.0625rem;
    }

    &::before {
      left: -0.0625rem;
    }

    &::after {
      right: -0.0625rem;
    }
  }
}
