$bpmKnobSize: rem(250px);
$bpmKnobInnerTrackSize: rem(260px);
$bpmKnobTrackOffset: rem(-5px);
$bpmKnobOuterTrackPosition: calc(100% - rem(20px));
$bpmKnobOuterTrackOffset: 50%;
$bpmKnobBallSize: rem(20px);
$bpmKnobTextSize: rem(96px);
$bpmKnobTextPosition: calc(50% - $bpmKnobTextSize / 2);
$bpmBorderRadius: 50%;

.BpmKnob-container {

  @include centerX;
}

.BpmKnob {
  border: border($colorBlack);
  border-radius: $bpmBorderRadius;
  height: $bpmKnobSize;
  position: relative;
  width: $bpmKnobSize;

  &__track {
    border-radius: $bpmBorderRadius;
    height: $bpmKnobInnerTrackSize;
    left: $bpmKnobTrackOffset;
    position: relative;
    top: $bpmKnobTrackOffset;
    width: $bpmKnobInnerTrackSize;

    &::after {
      background: $colorWhite;
      border-radius: inherit;
      content: "";
      height: $bpmKnobOuterTrackPosition;
      left: $bpmKnobOuterTrackOffset;
      position: absolute;
      top: $bpmKnobOuterTrackOffset;
      transform: translate(-$bpmKnobOuterTrackOffset, -$bpmKnobOuterTrackOffset);
      width: $bpmKnobOuterTrackPosition;
    }
  }

  &__ball {
    border-radius: $bpmBorderRadius;
    padding: $bpmKnobBallSize;
    position: absolute;
    z-index: 1;
  }

  &__text {

    @include center;

    flex-direction: column;
    font-size: rem(48px);
    height: $bpmKnobTextSize;
    left: $bpmKnobTextPosition;
    line-height: .8;
    position: absolute;
    top: $bpmKnobTextPosition;
    width: $bpmKnobTextSize;

    span {
      font-size: rem(32px);
    }
  }
}
