$bpmKnobSize: 250px;
$bpmKnobInnerTrackSize: 260px;
$bpmKnobTrackOffset: -5px;
$bpmKnobOuterTrackSize: 1.25rem;
$bpmKnobBallSize: 20px;
$bpmKnobTextSize: 96px;

.BpmKnob-container {
  display: flex;
  justify-content: center;
  width: 140px;
}

.BpmKnob {
  border: 0.0625rem solid;
  border-radius: 50%;
  height: $bpmKnobSize;
  position: relative;
  width: $bpmKnobSize;

  input {
    height: 0;
    opacity: 0;
    width: 0;
  }

  &__track {
    border-radius: 50%;
    height: $bpmKnobInnerTrackSize;
    left: $bpmKnobTrackOffset;
    position: relative;
    top: $bpmKnobTrackOffset;
    width: $bpmKnobInnerTrackSize;

    &::after {
      background: $colorWhite;
      border-radius: inherit;
      content: "";
      height: calc(100% - $bpmKnobOuterTrackSize);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - $bpmKnobOuterTrackSize);
    }
  }

  &__ball {
    border-radius: 50%;
    padding: $bpmKnobBallSize;
    position: absolute;
    z-index: 1;
  }

  &__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: $bpmKnobTextSize;
    justify-content: center;
    left: calc(50% - $bpmKnobTextSize / 2);
    line-height: .8;
    position: absolute;
    top: calc(50% - $bpmKnobTextSize / 2);
    width: $bpmKnobTextSize;

    span {
      font-size: 2rem;
    }
  }
}
