$canvasPickerSize: rem(64px);
$canvasPickerBorder: rem(2px);
$canvasPickerMargin: rem(-2px);

.CanvasPicker {
  display: flex;
  justify-content: space-between;

  &__button {
    align-items: center;
    background: $colorWhite;
    display: flex;
    flex-direction: column;
    font-size: rem(12px);
    height: $canvasPickerSize;
    justify-content: center;
    width: $canvasPickerSize;

    img {
      margin-bottom: rem(8px);
    }

    &.-selected span {
      border-bottom: $canvasPickerBorder solid $colorBlack;
      margin-bottom: $canvasPickerMargin;
    }
  }
}
