$canvasPickerSize: rem(64px);
$canvasPickerBorder: rem(2px);
$canvasPickerMargin: rem(-2px);

.CanvasPicker {

  @include space-between;

  &__button {

    @include center;

    background: $colorWhite;
    flex-direction: column;
    font-size: rem(12px);
    height: $canvasPickerSize;
    width: $canvasPickerSize;

    img {
      margin-bottom: rem(8px);
    }

    &.-selected span {
      border-bottom: $canvasPickerBorder solid $colorBlack;
      margin-bottom: $canvasPickerMargin;
    }
  }
}
