.ControllerPanel {
  margin: rem(16px) 0;

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: rem(16px);
  }

  &__button {
    background: $colorWhite;
    border: 0;
    min-width: rem(80px);
    padding: rem(8px) rem(16px);
    text-transform: uppercase;

    &.-active {
      border-bottom: rem(5px) solid $colorBlack;
      margin-bottom: rem(-5px);
    }
  }

  &__pane {
    display: none;

    &.-show {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: rem(368px);
      justify-content: space-evenly;
    }
  }
}
