$controllerPanelBorder: rem(5px);
$controllerPanelMargin: rem(-5px);

.ControllerPanel {
  margin: rem(16px) 0;

  &__buttons {

    @include space-evenly;

    margin-bottom: rem(16px);
  }

  &__button {
    background: $colorWhite;
    min-width: rem(80px);
    padding: rem(8px) rem(16px);
    text-transform: uppercase;

    &.-active {
      border-bottom: $controllerPanelBorder solid $colorBlack;
      margin-bottom: $controllerPanelMargin;
    }
  }

  &__pane {
    display: none;

    &.-show {
      @include center-evenly;

      flex-direction: column;
      height: rem(368px);
    }
  }
}
