.gui-controllers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: auto;
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    appearance: auto;
    -moz-appearance: textfield;
  }

  input {
    background-color: $colorWhite;
    border: 0;
  }

  &__bpm-value--number {
    position: relative;
  }

  &__bpm-value--number {
    left: 4px;
  }

  &__value {
    text-align: center;
    width: 50%;
  }

  &__bpm {
    align-items: center;
    display: flex;
    font-size: 2rem;

    button {
      border: 0;
    }
  }

  &__bpm-minus,
  &__bpm-plus,
  &__bpm-value {
    flex-direction: column;
  }

  &__bpm-value {
    color: $colorBlack;
  }
}
