.gui-container {
  display: flex;
  flex-direction: column;

  &__tab-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__tab {
    border: 0;

    &.-selected {
      border-bottom: $border;
    }
  }

  &__canvas {
    align-self: center;
    border: 1px solid black;
  }
}
