.Logo {
  display: flex;
  flex-direction: column;
  font-size: rem(32px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  span {
    font-size: rem(24px);
    position: relative;
    top: rem(-10px);
  }
}