// Radius
$borderRadius: rem(8px);

.Modal {
  display: none;
  left: 0;
  position: absolute;
  top: 0;

  &.-show,
  &.-show .Modal__overlay {
    display: block;
  }

  &__overlay {
    background: $colorBlack;
    display: none;
    height: 100vh;
    opacity: 70%;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }

  &__content {
    background: $colorWarning;
    border-radius: $borderRadius;
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
    left: calc(50vw - 40vw);
    padding: rem(20px);
    pointer-events: none;
    position: relative;
    top: calc(50vh - 15vh);
    width: 80vw;
    z-index: 2;
  }

  &__title,
  &__message {
    margin: 0;
  }

  &__supporting-text {
    display: flex;
    flex-direction: column;
  }

  &__message {
    margin-bottom: rem(16px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__button {
    align-self: flex-end;
    background-color: inherit;
    border: rem(1px) solid $colorWhite;
    border-radius: $borderRadius;
    color: $colorWhite;
    padding: rem(4px) rem(20px);
    pointer-events: auto;
    text-transform: uppercase;
    width: max-content;
  }
}
