$buttonSize: rem(64px);

.Play {
  align-items: center;
  background: $colorBlack;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: $buttonSize;
  justify-content: center;
  justify-self: center;
  width: $buttonSize;

  &__icon-play,
  &__icon-stop {
    display: none;
    width: rem(24px);

    &.-show {
      display: flex;
    }
  }
}