$buttonSize: rem(64px);

.Play {
  @include center;

  background: $colorBlack;
  border-radius: 50%;
  height: $buttonSize;
  justify-self: center;
  width: $buttonSize;

  &__icon-play,
  &__icon-stop {
    display: none;
    width: rem(24px);

    &.-show {
      display: flex;
    }
  }
}