// Base
@import './base/utils.scss';
@import './base/variables.scss';
@import './base/colors.scss';
@import './base/normalize.scss';
@import './base/reset.scss';
@import './base/typography.scss';
@import './base/viewports.scss';
@import './base/mixins.scss';

// Sections
@import './sections/BeatPicker.scss';
@import "./sections/BpmKnob.scss";
@import "./sections/Canvas.scss";
@import './sections/CanvasPicker.scss';
@import './sections/Chip.scss';
@import "./sections/ControllerPanel.scss";
@import './sections/Logo.scss';
@import './sections/Modal.scss';
@import './sections/MuteButton.scss';
@import './sections/PlayButton.scss';

body {
  font-family: $font;

  * {
    box-sizing: border-box;
  }
}

.app,
section {
  flex-direction: column;
}

.app {

  @include space-between;

  height: 100vh;
}

header {
  border-bottom: rem(1px) solid $colorBlack;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  box-shadow: 0 rem(1px) rem(4px) rgba(0, 0, 0, 0.25);
  margin-bottom: rem(32px);
  padding: rem(16px) rem(24px);
}

section {

  @include centerX;

  padding: 0 rem(24px);
}

.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 rem(24px) rem(32px);
}