@import './base/typography.scss';
@import './base/colors.scss';
@import './base/normalize.scss';
@import './base/viewports.scss';

$border: 5px solid $colorBlack;

// Refactor styling
@import './sections/Logo.scss';
@import './sections/Modal.scss';
@import './sections/Chip.scss';
@import './sections/Play.scss';
@import './sections/Mute.scss';


@import './sections/BeatPickers.scss';

@import './sections/guiControllers.scss';
@import './sections/guiContainer.scss';

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: $font;

  * {
    box-sizing: border-box;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 2rem;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@include tablet-viewport {
  .app {
    padding: 5rem;
  }
}

/* CANVAS INSPECTOR STYLE */
// .canvas-inspector {
//   position: fixed;
//   right: 0;
//   top: 50vh;
//   width: 200px;
//   height: 200px;

//   &.-show {
//     background: lightgray;
//     color: black;
//   }

//   &__toggle-button {
//     background: blue;
//     color: white;
//     padding: 20px;
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 100%;
//   }

//   .grid-select,
//   .divX,
//   .divY {
//     display: none;
//   }

//   .grid-select.-show,
//   .divX.-show,
//   .divY.-show {
//     display: block;
//     position: absolute;
//     left: 16px;
//   }

//   .grid-select.-show {
//     top: 80px;
//   }

//   .divX.-show {
//     top: 120px;
//   }

//   .divY.-show {
//     top: 140px;
//   }
// }
