// Base
@import './base/colors.scss';
@import './base/normalize.scss';
@import './base/typography.scss';
@import './base/viewports.scss';

$border: 5px solid $colorBlack;

// Sections
@import './sections/BeatPicker.scss';
@import "./sections/BpmKnob.scss";
@import './sections/CanvasPicker.scss';
@import './sections/Chip.scss';
@import "./sections/ControllerPanel.scss";
@import './sections/Logo.scss';
@import './sections/Modal.scss';
@import './sections/Mute.scss';
@import './sections/Play.scss';

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: $font;

  * {
    box-sizing: border-box;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  border-bottom: .0625rem solid $colorBlack;
  border-radius: 0px 0px .375rem .375rem;
  box-shadow: 0px .0625rem .25rem rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}

.Canvas-container {
  display: flex;
  justify-content: center;
  padding: 0 2.5rem;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1.5rem;
  padding-bottom: 2rem;
}

@include tablet-viewport {
  .app {
    padding: 5rem;
  }
}

// Mixins
// @centerX = display flex, justify content center
// @centerXY = display flex, justify content center, align items center

// helper function
// rem(48px)

// utils functions
// reset file

// naming css